# Ignore the build and lib dirs
build
others/
lib/*
doc/
bin/
python/

# Ignore any executables
runner

# Ignore Mac specific files
.DS_Store

# Ignore files
*.txt 
*.dat 
*.pdb 
*.rad  
*.log  
*.wif 
